[submodule "disable-workspace-switcher-popup"]
	path = disable-workspace-switcher-popup
	url = git://github.com/windsorschmidt/disable-workspace-switcher-popup
[submodule "steal-my-focus"]
	path = steal-my-focus
	url = git://github.com/neitsab/gnome-shell-extension-stealmyfocus
[submodule "system-monitor"]
	path = system-monitor
	url = git://github.com/paradoxxxzero/gnome-shell-system-monitor-applet
[submodule "impatience"]
	path = impatience
	url = git://github.com/gfxmonk/gnome-shell-impatience
