[submodule "disable-workspace-switcher-popup"]
	path = disable-workspace-switcher-popup
	url = https://github.com/windsorschmidt/disable-workspace-switcher-popup.git
[submodule "steal-my-focus"]
	path = steal-my-focus
	url = https://github.com/sstent/gnome-shell-extension-stealmyfocus.git
[submodule "system-monitor"]
	path = system-monitor
	url = https://github.com/yangle/gnome-shell-system-monitor-applet.git
[submodule "impatience"]
	path = impatience
	url = https://github.com/gfxmonk/gnome-shell-impatience.git
